:root {
    --bg: #0909a1;
    --accent:#7c0c86;
    --light:#ffffff;
    --card-bg:#bdb713;
    --shadow:#0f0f0f;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

body {
    background: linear-gradient(90deg, #0909a1, #46a109);
    color: var(--light);
    margin: 70px;
    display: flex;
    justify-content: center;
}

.card {
    background-color:var(--card-bg);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px var(--shadow);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
}

.card:hover {
    transform: rotateY(var(--rotateY, 0deg)) rotateX(var(--rotateX, 0deg)) scale(1.05);
    box-shadow: 0 10px 15px var(--shadow);
}

h1 {
    color:var(--accent);
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color:var(--bg);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    color:var(--card-bg);
    background-color: var(--accent);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

button:hover {
    background-color: var(--bg);
    color: var(--light);
    transform: scale(1.05);
}